.category {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 8px 0;
}

.category h3 {
    flex: 0 0 100%;
    text-decoration: underline;
   
}

.articles {
    display: flex;
    justify-content:space-around;
    
}

.category > div {
    flex: 0 0 calc(33% - 16px);
}



